<h2><%= page.title %></h2>

<% if (errors) { %>
    <% errors.forEach(function(e) { %>
    <strong>Error: <%= e %></strong>
    <% }); %>
<% } %>

<form action="/page/<%= page.id %>/edit" method="POST">
Page Path: <input type="text" name="page[path]" value="<%= page.path %>">
<br>

Page Title: <input type="text" name="page[title]" value="<%= page.title %>">
<br>

Template: <select name="page[template_id]">
<% templates.forEach(function(t) { %>
    <option value="<%= t.id %>" <% if (page.template == t.id) { %>selected<% } %>><%= t.template_name %></option>
<% }); %>
</select>
<br>

Page Body:
<br>

<div id="aceEditor" style="position: relative; width: 900px; height: 400px;"></div>
<textarea id="bodyTextarea" style="visibility: hidden;" name="page[body]"><%= page.body %></textarea>
<br>

<input type="submit" value="Save">
</form>
