<h2><%= template.template_name %></h2>

<% if (errors) { %>
    <% errors.forEach(function(e) { %>
    <strong>Error: <%= e %></strong>
    <% }); %>
<% } %>

<form action="/template/<%= template.id %>/edit" method="POST">
Template Name: <input type="text" name="template[template_name]" value="<%= template.template_name %>">
<br>

Template Body:
<br>

<div id="aceEditor" class="aceEditor"></div>
<textarea id="bodyTextarea" style="visibility: hidden;" name="template[body]"><%= template.body %></textarea>
<br>

<input type="submit" value="Save">
</form>
